.gallery {
  max-width: 1128px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 40px;
  margin: 0;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
}

.gallery-link {
  display: block;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: zoom-in;
  border-radius: 4px;
}
